* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2E3D5;
    font-family: 'ExtraLight 200', sans-serif;
    color: #F2E3D5;
}

header {
    background-color: #3CA6A6;
    color: #024959;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.separator {
    height: 1px;
    background-color: #024959;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
    gap: 20px;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;
    padding: 20px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    background-color: #024959;
}

.card:hover {
    scale: 1.05;
    transition: 0.2s ease-in-out;
}

.card img {
    border-radius: 15px;
    cursor: pointer;
}

.active {
    width: 50%;
    margin: 40px auto;
}

.rowdirection {
    flex-direction: column;
}